/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Text Group */

.textsettingleft {
    text-align: left;
}

.textsettingcenter {
    text-align: center;
}

/* Button Group */

.buttonLogin {
    background-color:  rgba(122, 135, 247, 0.7);
    border-radius: 5px;
    border: none;
    color: white;
    width: 45%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 6vw;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonLogin:hover {
    background-color: rgba(23, 38, 172, 0.7);
}

.buttonRegister{
    background-color:  rgba(156, 156, 156, 0.7);
    border-radius: 5px;
    border: none;
    color: white;
    width: 45%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonRegister:hover {
    background-color: rgba(212, 22, 22, 0.7);
}

.buttonFacebook {
    background-color:  rgba(112, 123, 230, 0.7);
    border-radius: 5px;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonFacebook:hover {
    background-color: rgba(20, 34, 160, 0.7);
}

.buttonGoogle{
    background-color:  rgba(255, 117, 117, 0.7);
    border-radius: 5px;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonGoogle:hover {
    background-color: rgba(219, 0, 0, 0.7);
}

/* Background Group */

body { 
    background-image: url("pic1.jpg");
    background-size: 150vh,100vw, auto;
  }

/* Image Group */

.linglogo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 100px;
    margin-top: 70px;
    margin-right: auto;
    margin-bottom: 126px;
    margin-left:auto;

    top: -5vh;
    bottom: auto;
    left: auto;
    right: 37vw;
  }

/* Forms Group */

.logingroup {
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;

    width: 90vw;
    height: auto;

    top: 20%;
    bottom: auto;
    left: auto;
    right: 5vw;

    opacity: 1;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

.formsetting {
    margin: 0px;
    width: 100%;
}

/* Gridview Group */


/* Dropdown Group */

/* test */
input {
    margin-bottom: 1rem;
    display: block;
  }
  
  textarea {
    margin-bottom: 1rem;
    display: block;
  }
  
  select {
    margin-bottom: 1rem;
    display: block;
  }