/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Layer Group 

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Overlay Group */

.google-map-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    cursor: pointer;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    cursor: pointer;
}

/* Text Group */

/* Button Group */

.iconGPS {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 45px;
    height: auto;

    top: 80px;
    left: 12px;
    right: 0px;
    bottom: 0px;

    opacity: 0.7;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

  .iconGPS:hover {
    opacity: 1;
}

.iconCalendar {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 45px;
    height: auto;

    top: 80px;
    left: auto;
    right: 12px;
    bottom: 0px;

    opacity: 0.8;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

  .iconCalendar:hover {
    opacity: 1;
}

.iconCancel {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 45px;
    height: auto;

    top: auto;
    bottom: 0px;
    left: 43.7vw;
    right: auto;

    opacity: 0.85;

        /* Layer Group*/
        position: fixed;
        z-index: 3;
        cursor: pointer;
  }

  .iconCancel:hover {
    opacity: 1;
}

.iconCancel1 {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 30px;
    height: auto;

    top: auto;
    bottom: 0px;
    left: 43.7vw;
    right: auto;

    opacity: 0.85;

        /* Layer Group*/
  }

  .iconCancel:hover {
    opacity: 1;
}

.iconMenu {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 45px;
    height: auto;

    top: 15px;
    left: auto;
    right: 12px;
    bottom: 0px;

    opacity: 0.85;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

  .iconTask:hover {
    opacity: 1;
}

.iconTask {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 53px;
    height: auto;

    top: auto;
    left: auto;
    right: 45%;
    bottom: -18px;

    opacity: 0.9;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

  .iconMenu:hover {
    opacity: 1;
}

.iconCompass {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 45px;
    height: auto;

    top: auto;
    bottom: 40px;
    left: 12px;
    right: 0px;

    opacity: 0.8;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

.iconCompass:hover {
    opacity: 1;
}

.iconBackbutton {
    /*animation: App-logo-spin infinite 20s linear;*/

    width: 205px;
    height: 45px;

    top: auto;
    bottom: 40px;
    left: 77px;
    right: 0px;

    opacity: 0.7;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

.iconLayer1 {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 30px;
    height: auto;

    top: auto;
    bottom: 46px;
    left: 90px;
    right: 0px;

    opacity: 0.5;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

.iconLayer1:hover {
    opacity: 1;
}

  .iconLayer2 {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 30px;
    height: auto;

    top: auto;
    bottom: 46px;
    left: 140px;
    right: 0px;

    opacity: 0.5;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

  .iconLayer2:hover {
    opacity: 1;
}

.iconLayer3 {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 30px;
    height: auto;

    top: auto;
    bottom: 46px;
    left: 190px;
    right: 0px;

    opacity: 0.5;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

  .iconLayer3:hover {
    opacity: 1;
}

  .iconLayer4 {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 30px;
    height: auto;

    top: auto;
    bottom: 46px;
    left: 240px;
    right: 0px;

    opacity: 0.5;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

  .iconLayer4:hover {
    opacity: 1;
}

/* Background Group */

body { 
    background-color: rgba(169, 214, 255, 0.3);
  }

/* Image Group */

/* Forms Group */

/* Gridview Group */


/* Dropdown Group */

/* test */
input {
    margin-bottom: 1rem;
    display: block;
  }
  
  textarea {
    margin-bottom: 1rem;
    display: block;
  }
  
  select {
    margin-bottom: 1rem;
    display: block;
  }