/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Layer Group 

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Overlay Group */

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    cursor: pointer;
}

/* Text Group */

.headtext1{

    font-size: 150%;
    text-align: left;

}

.headtext2{

    font-size: 110%;
    text-align: left;

}

.text1{

    font-size: 85%;
    text-align: left;

}

/* Button Group */

.buttonLogout{
    background-color:  rgba(156, 156, 156, 0.7);
    border-radius: 5px;
    border: none;
    color: white;
    width: 40%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.buttonLogout:hover {
    background-color: rgba(212, 22, 22, 0.7);
}

.buttonEditProfile{
    background-color:  rgba(104, 106, 204, 0.644);
    border-radius: 5px;
    border: none;
    color: white;
    width: 45%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonEditProfile:hover {
    background-color: rgba(0, 18, 184, 0.7);
}



/* Background Group */

body { 
    background-color: rgba(169, 214, 255, 0.3);
  }

/* Image Group */

  .LINGUser {
    /*animation: App-logo-spin infinite 20s linear;*/
    width: 100px;
    height: auto;

    top: 70px;
    left: auto;
    right: 12px;
    bottom: 0px;

    opacity: 1;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

/* Forms Group */

.Menugroup {
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;

    width: auto;
    height: 27vh;

    top: 20%;
    bottom: auto;
    left: auto;
    right: 6vw;

    opacity: 1;
  }

  .Tablegroup {
    background-color: rgba(52, 106, 255, 0.65);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 1px;
    padding-left: 10px;

    width: auto;
    height: 6vh;

    top: 20%;
    bottom: auto;
    left: auto;
    right: 6vw;

    opacity: 1;
  }

  .Locationgroup {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 1px;
    padding-left: 10px;

    width: auto;
    height: 6vh;

    top: 20%;
    bottom: auto;
    left: auto;
    right: 6vw;

    opacity: 1;
  }

  .Addgroup {
    background-color: rgba(223, 223, 223, 0.65);
    padding-top: 1px;
    padding-left: 10px;

    width: auto;
    height: 6vh;

    top: auto;
    bottom: 1px;
    left: auto;
    right: 6vw;

    opacity: 1;
  }


/* Gridview Group */


/* Dropdown Group */

/* test */