/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Text Group */

.textsettingleft {
    text-align: left;
}

.textsettingcenter {
    text-align: center;
}

/* Button Group */

.buttonContinue {
    background-color:  rgba(122, 135, 247, 0.7);
    border-radius: 5px;
    border: none;
    color: white;
    width: 45%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5vw;
    margin-right: 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonContinue:hover {
    background-color: rgba(48, 61, 179, 0.7);
}

.buttonCancel{
    background-color:  rgba(156, 156, 156, 0.7);
    border-radius: 5px;
    border: none;
    color: white;
    width: 45%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonCancel:hover {
    background-color: rgba(211, 21, 21, 0.7);
}

/* Background Group */

body { 
    background-image: url("pic1.jpg");
    background-size: cover;

    background-color: rgba(169, 214, 255, 0.3);
  }

/* Image Group */

.linglogo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 100px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 33.5%;
  }

/* Forms Group */

.registergroup {
    background-color: rgba(255, 255, 255, 0.65);
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 15px;

    width: 80vw;
    height: auto;

    top: 20%;
    bottom: auto;
    left: auto;
    right: 10vw;

    opacity: 1;

        /* Layer Group*/
        position: fixed;
        z-index: 1;
        cursor: pointer;
  }

.formsetting {
    margin: 0px;
    width: 100%;
}

/* Gridview Group */


/* Dropdown Group */

/* test */
input {
    margin-bottom: 1rem;
    display: block;
  }
  
  textarea {
    margin-bottom: 1rem;
    display: block;
  }
  
  select {
    margin-bottom: 1rem;
    display: block;
  }